.ToggleButton {
    -fx-background-radius: 2;
    -fx-background-color: derive(#87CEFA, -10%);
}
.ToggleButton:hover {
    -fx-background-color: derive(#87CEFA, -5%);
}
.ToggleButton:selected {
    -fx-background-color: derive(#87CEFA, -25%);
}
