
.ToggleButtonDash {
    -fx-background-radius: 50;
    -fx-background-color: derive(#87CEFA, -15%);   
    -fx-background-image: url("dash.png");
    -fx-background-size: 60;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
}
.ToggleButtonDash:hover {
    -fx-background-color: derive(#87CEFA, -5%);   
    -fx-background-size: 65;
}
.ToggleButtonDash:selected {
	-fx-background-color: derive(#87CEFA, -25%);
	-fx-background-size: 75;
}

.ToggleButtonAnalysis {
    -fx-background-radius: 50;
    -fx-background-color: derive(#87CEFA, -15%);   
    -fx-background-image: url("analysis.png");
    -fx-background-size: 60;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
}
.ToggleButtonAnalysis:hover {
    -fx-background-color: derive(#87CEFA, -5%);   
    -fx-background-size: 65;
}
.ToggleButtonAnalysis:selected {
	-fx-background-color: derive(#87CEFA, -25%);
	-fx-background-size: 75;
}

.ToggleButtonWeb {
    -fx-background-radius: 50;
    -fx-background-color: derive(#87CEFA, -15%);   
    -fx-background-image: url("web.png");
    -fx-background-size: 60;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
}
.ToggleButtonWeb:hover {
    -fx-background-color: derive(#87CEFA, -5%);   
    -fx-background-size: 65;
}
.ToggleButtonWeb:selected {
	-fx-background-color: derive(#87CEFA, -25%);
	-fx-background-size: 75;
}

