.Profile {
    -fx-background-radius: 80;	
    -fx-content-display:graphic-only;  
    -fx-background-color:transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.Profile:hover {
    -fx-content-display:center; 
}
