.ToggleButton {
    -fx-background-color:transparent;
    -fx-content-display:graphic-only;
    -fx-background-size: 30;
    -fx-background-image: url("plus.png");
    -fx-background-repeat: no-repeat;
}
.ToggleButton:hover {
    -fx-opacity:0.2;
}
.ToggleButton:selected {
    -fx-content-display:graphic-only;
    -fx-background-size: 30;
    -fx-background-image: url("minus.png");
    -fx-background-repeat: no-repeat;
}
