.Button {
    -fx-background-color:transparent;
    -fx-content-display:graphic-only;
    -fx-background-size: 15;
    -fx-background-position:center;
    -fx-background-image: url("left.png");
    -fx-background-repeat: no-repeat;
}
.Button:hover {
    -fx-opacity:0.2;
}
