.Button {
    -fx-background-color:transparent;
    -fx-content-display:graphic-only;
    -fx-background-size: 35;
    -fx-background-position:center;
    -fx-background-image: url("left.png");
    -fx-background-repeat: no-repeat;
}
.Button:hover {
    -fx-opacity:0.5;
}
.Button:armed {
    -fx-background-color: derive(-fx-base, -20%);
}
